*.class
*.iml
.idea
.project
.classpath
.settings/
**/graphify-out/**
target/
bin/
gen/
j2me/games/platform/AllBinaryGameClientNoPlatformJavaDocApplicationM/src

/automation/InputAutomationJavaApplicationM/src/main/resources
/automation/InputAutomationGenericModuleJavaLibraryM/src/main/resources