<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
    </head>
    <body>
        <p>

<div class="wizardsequenceText" >
<%= SEQUENCEHEADING %>
Start
 - 
Template Type Selection
 - 
Add Header
 - 
Theme Selection
 - 
Style Selection
</div>
<br/>

<div class="wizardsequenceText" >
<%= SEQUENCEHEADING %>
<a href="start.jsp" >Start</a>
 - 
Template Type Selection
 - 
Add Header
 - 
Theme Selection
 - 
Style Selection
</div>
<br/>

<div class="wizardsequenceText" >
<%= SEQUENCEHEADING %>
<a href="start.jsp" >Start</a> - 
<a href="<%= TEMPLATETYPEPAGE %>" >Template Type Selection</a> - 
Add Header
 - 
Theme Selection
 - 
Style Selection
</div>
<br/>

<div class="wizardsequenceText" >
<%= SEQUENCEHEADING %>
<a href="start.jsp" >Start</a> - 
<a href="<%= TEMPLATETYPEPAGE %>" >Template Type Selection</a> - 
<a href="<%= ADDHEADERPAGE %>" >Add Header</a> - 
Theme Selection
 - 
Style Selection
</div>
<br/>

<div class="wizardsequenceText" >
<%= SEQUENCEHEADING %>
<a href="start.jsp" >Start</a> - 
<a href="<%= TEMPLATETYPEPAGE %>" >Template Type Selection</a> - 
<a href="<%= ADDHEADERPAGE %>" >Add Header</a> - 
<a href="<%= ADDTEMPLATETHEMEPAGE %>" >Theme Selection</a> - 
Style Selection
</div>
<br/>

<div class="wizardsequenceText" >
<%= SEQUENCEHEADING %>
<a href="start.jsp" >Start</a> - 
<a href="<%= TEMPLATETYPEPAGE %>" >Template Type Selection</a> - 
<a href="<%= ADDHEADERPAGE %>" >Add Header</a> - 
<a href="<%= ADDTEMPLATETHEMEPAGE %>" >Theme Selection</a> - 
<a href="<%= ADDTEMPLATESTYLEPAGE %>" >Style Selection</a>
</div>
<br/>

        </p>
    </body>
</html>
